*{
    box-sizing:border-box;
    color:black;
}

body{
    display:flex;
}

.main-body{
    display:flex;
    width:95%;
    height:100%;
    margin-left:auto;
    margin-right:auto;
}

.image-placeholder{
    background:darkblue;
    border:1px solid black;
    width:500px;
    height:100%;
}